body {
    background-image: url("../images/blackgrey2.jpg");
    
}

h1 {
    font-family: 'Bungee Shade', cursive; 
    font-size: 60px;
    color: rgb(165, 14, 165);
}

p {
    color: white;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.crystal {
    width: 100px;
    height: 100px;
    border-style: solid;
    border-color: black;
    border-width: thin;
}

#score-is {
    margin-top: 30px;
}

#deco {
    width: 70%;
    height: 70%;
    margin-top: 5%;
}

#wins, #losses {

}

#total-score {
    background-color: black;
    padding: 10px;
}

#deco {
    animation-name: example;
    animation-duration: 4s;
  }
  
  /* Safari 4.0 - 8.0 */
  @-webkit-keyframes example {
    from {margin-top:20%;}
    to {margin-left: 10%;}
  }
  
  /* Standard syntax */
  @keyframes example {
    from {margin-top:20%;}
    to {margin-left: 10%;}
  }